<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Sublimpick</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

</head>
<body>
    <main>
        <h1>Welcome to Sublimpick</h1>
        <p>Discover the best skincare products through real customer reviews and intelligent analysis. Our platform helps you make informed decisions by analyzing customer feedback and providing insightful reporting.</p>
        <a href="/search" class="btn">Start Searching</a>
    </main>
</body>
</html>
