main {
    padding: 40px;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
  }

  h2 {
    margin-top: 40px;
  }

  h3 {
    margin: 0;
  }